@model Bubblevel_MatchService.Models.SupportIncident
@{
  ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Support Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mt-4">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="CustomerId" class="control-label"></label>
                <input type="hidden" id="CustomerId" name="CustomerId" v-model="select" />
                <v-autocomplete v-model="select" variant="solo"
                                v-model:search="search"
                                item-title="nameWithEmail"
                                item-value="id"
                                :loading="loading"
                                :items="items"
                                clearable>

                    <template v-slot:append>
                        <v-slide-x-reverse-transition mode="out-in">
                            <v-icon color="success" icon="mdi-plus" v-on:click="openDialog(true)"></v-icon>
                        </v-slide-x-reverse-transition>
                    </template>

                </v-autocomplete>
            </div>
            <div class="form-group mt-4">
                <v-btn type="submit" variant="outlined" rounded color="blue">
                    <v-icon start icon="mdi-checkbox-marked-circle"></v-icon>
                    Create
                </v-btn>
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="@ViewBag.SourceView">Back to List</a>
</div>

<div>
    <div class="text-center">
        <v-dialog v-model="dialog" width="1024">
            <div v-if="dialog && dialogPartial">
                <partial name="~/Views/Customer/_CreateModalVue.cshtml" />
            </div>
        </v-dialog>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("~/Views/SupportIncident/_CreateVue.cshtml");
    }
}


