@model decimal

@{
  TimeSpan ts = TimeSpan.FromHours(Math.Abs((double)Model));
  int hours = ((int)ts.TotalHours);
  int minutes = ts.Minutes;

  if (Model < 0)
  {
      hours *= -1;
  }
}

<span class="badge rounded-pill text-bg-light m-2">
    @(hours == 0 ? "" : hours + " hr") @(minutes == 0 ? "" : minutes + " min")
</span>
